setuptools>=2.2
numpy>=1.7.0
scipy>=0.9.0
cython>=0.20.1
contextlib2>=0.4.0
pandas==0.14.1
scikit-learn
matplotlib
pymetis
simplejson
protobuf<=2.5.0
parsable
pyflakes
pep8
nose
cpplint
mock
git+ssh://git@github.com/forcedotcom/distributions@2.0.28
